body {
    padding-top: 70px;
}


/**
 * Menu
 */

.navbar-inverse {
    background-color: #C71616
}

.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
    background-color: #8C0707
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
    background-color: #8C0707
}

.dropdown-menu {
    background-color: #FFFFFF
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    background-color: #C71616
}

.navbar-inverse {
    background-image: none;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    background-image: none;
}

.navbar-inverse {
    border-color: #080808
}

.navbar-inverse .navbar-brand {
    color: #FFFFFF
}

.navbar-inverse .navbar-brand:hover {
    color: #FFFFFF
}

.navbar-inverse .navbar-nav>li>a {
    color: #FFFFFF
}

.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
    color: #FFFFFF
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
    color: #FFFFFF
}

.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
    color: #FFFFFF
}

.dropdown-menu>li>a {
    color: #000000
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    color: #FFFFFF
}

.navbar-inverse .navbar-nav>.dropdown>a .caret {
    border-top-color: #969998
}

.navbar-inverse .navbar-nav>.dropdown>a:hover .caret {
    border-top-color: #FFFFFF
}

.navbar-inverse .navbar-nav>.dropdown>a .caret {
    border-bottom-color: #969998
}

.navbar-inverse .navbar-nav>.dropdown>a:hover .caret {
    border-bottom-color: #FFFFFF
}

.navbar-brand {
    margin-top: -13px;
}

*[role="form"] {
    padding: 15px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 0.3em;
}

*[role="form"] h2 {
    margin-left: 5em;
    margin-bottom: 1em;
}


/* Radio Button waiter */

.radio-waiter.active {
    background: #C71616;
}

.radio-waiter {
    padding: 10px;
    margin-left: 15px;
    position: relative;
}

.radio-waiter-word {
    font-size: 12px;
    font-weight: 600;
    margin-left: 30px;
}

.radio-dot:before,
.radio-dot:after {
    content: "";
    display: block;
    position: absolute;
    background: #fff;
    border-radius: 100%;
}

.radio-dot:before {
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    top: 10px;
    left: 16px;
}

.radio-dot:after {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    top: 14px;
    left: 20px;
}

.radio-waiter.active .radio-waiter-word {
    color: #fff;
}

.radio-waiter.active .radio-dot:after {
    background: #8C0707;
}

.radio-waiter.active .radio-dot:before {
    background: #fff;
    border-color: #C71616;
}

.radio-waiter:hover .radio-dot:before {
    border-color: #adadad;
}

.radio-waiter.active:hover .radio-dot:before {
    border-color: #C71616;
}

.radio-waiter.active .radio-dot:after {
    background: #8C0707;
}

.radio-waiter:hover .radio-dot:after {
    background: #e6e6e6;
}

.radio-waiter.active:hover .radio-dot:after {
    background: #8C0707;
}

@media (max-width: 400px) {
    .mobile-br {
        display: none;
    }
    .radio-waiter {
        width: 49%;
        padding: 10px;
        position: relative;
    }
}


/* Pie de pagina waiter */

footer {
    margin-top: 25px;
}

.footer p {
    margin: 0;
}

.footer-bottom {
    background: white;
    color: grey;
    border-top: 1px solid #DDDDDD;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer-bottom pull-left {
    padding-top: 6px;
}

.copyright-devider {
    padding-right: 5px;
    padding-left: 10px;
}

.container a {
    color: grey;
}